body{

    font-size: 30px;
    margin:60px;
    height:90%;
    width:80%;
    padding:30px;
    

    
}

h1{
    color: mediumblue;
   
}



#content{
    background-color: lightyellow;
    text-align: center;

}